
@{
    ViewData["Title"] = "Ispis studenata";
}
@model Ispit_2017_02_15.ViewModels.AjaxTestUrediVM

<form asp-action="Snimi" ajax-poziv="da">
    <div class="form-group">
        <label>Student</label>
        <input asp-for="Student" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Bodovi</label>
        <input asp-for="Bodovi" class="form-control" />
    </div>

    <input type="hidden" asp-for="OdrzaniCasDetaljiId" />
    <button type="submit" class="btn btn-primary">Snimi</button>
</form>


<script>
    $(document).ready(function () {
        $("form[ajax-poziv='da']").submit(function (event) {
            event.preventDefault();
            var form = $(this);

            $.ajax({
                type: "POST",
                url: "/ajaxtest/snimi",
                data: form.serialize(),
                success: function (data) {
                    $("#divID").html(data);
                }
            });
        });
    });

</script>
