@using RS1_Ispit_asp.net_core.EntityModels

@{
    ViewBag.Title = "Index";


}
@model RS1_Ispit_asp.net_core.ViewModels.StavkeUrediVM


<form asp-action="SnimiOcjenu" ajax-poziv="da" ajax-rezultat="divID">
    <div class="form-group">
        <label>Student</label>
        <input class="form-control" asp-for="Student" readonly />
    </div>
    <div class="form-group">
        <label>Ocjena</label>
        <input class="form-control" asp-for="Ocjena" />
    </div>
    <input asp-for="ispitStavkeId" type="hidden" />

    <button type="submit" class="btn btn-primary">SnimiOcjenu</button>
</form>

